@{
    ViewBag.Title = "Contact";
}

<link href="@Url.Content("~/Content/CSS/home.css")" rel="stylesheet" type="text/css" />


<h2>@ViewBag.Title</h2>


<address>
    One Miskatonic Way<br />
    Arkham, MA 010045-0000<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<p>We'll be in touch real soon.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:zackfactual@gmail.com">zackfactual@gmail.com</a><br />
</address>